<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnectionString" 
			 connectionString="server=DESKTOP-NBL1V62;database=AssignmentCefalo;uid=sa;password=Falconi77#;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <appSettings>
    <add key="addedRowsQuery" value="Select * from @TABLE_2 where @PK not in (Select @PK from @TABLE_1)"/>
    <add key="deletedRowsQuery" value="Select * from @TABLE_1 where @PK not in (Select @PK from @TABLE_2)"/>
    <add key="changeDetectQuery" value="((SELECT * FROM @TABLE_1 except SELECT * FROM @TABLE_2) union (SELECT * FROM @TABLE_2 except SELECT * FROM @TABLE_1)) except (Select * from @TABLE_2 where @PK not in (Select @PK from @TABLE_1) union (Select * from @TABLE_1 where @PK not in (Select @PK from @TABLE_2)))"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>