<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnectionString" 
			 connectionString="server=DESKTOP-NBL1V62;database=AssignmentCefalo;uid=sa;password=Falconi77#;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>